    #equidad{
        color: yellow;
    }

    #transparencia{
        color: indigo;
    }

    #excelencia{
        color: brown;
    }

    #pertinencia{
        color: red;
    }

    #responsabilidad{
        color: gold;
    }

